---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: "{{odf_operator}}"
  namespace: "{{odf_namespace}}"
spec:
  channel: "{{odf_channel}}"
  installPlanApproval: Automatic
  name: "{{odf_operator}}"
  source: redhat-operators
  sourceNamespace: openshift-marketplace
  startingCSV: "{{odf_startingcsv}}"