apiVersion: ocs.openshift.io/v1
kind: StorageCluster
metadata:
  
  name: "{{ ocs_storagecluster_name }}"
  namespace: "{{ odf_namespace }}"
  ownerReferences:
    - apiVersion: odf.openshift.io/v1alpha1
      kind: StorageSystem
      name: "{{odf_storagesystem_name }}"
      uid: "{{odf_storagesystem_uid}}"
  
spec:
  arbiter: {}
  encryption:
    kms: {}
  externalStorage: {}
  managedResources:
    cephBlockPools: {}
    cephCluster: {}
    cephConfig: {}
    cephDashboard: {}
    cephFilesystems: {}
    cephObjectStoreUsers: {}
    cephObjectStores: {}
  mirroring: {}
  nodeTopologies: {}
  storageDeviceSets:
    - config: {}
      resources: {}
      placement: {}
      name: "{{ ocs_storagecluster_deviceset_name }}"
      dataPVCTemplate:
        metadata: {}
        spec:
          accessModes:
            - {{ocs_storagecluster_accessmode}}
          resources:
            requests:
              storage: "{{ocs_storagecluster_storage_size}}"
          storageClassName: "{{ocs_storagecluster_storageclass_name}}"
          volumeMode: Block
        status: {}
      count: 1
      replica: {{ocs_storagecluster_replicas}}
      portable: true
      preparePlacement: {}
  version: "{{ ocs_storagecluster_version }}"
