---
apiVersion: odf.openshift.io/v1alpha1
kind: StorageSystem
metadata:
  name: "{{odf_storagesystem_name}}"
  namespace: "{{odf_namespace}}"
spec:
  kind: storagecluster.ocs.openshift.io/v1
  name: "{{ocs_storagecluster_name}}"
  namespace: "{{odf_namespace}}"