#Please follow colon delimited format for new entries as mentioned below:
#prod-code:prod-id:prod-type(byol/privatepublic):product-name
# Dev Listing: BYOL
9i61mljzpi48oygb8h47a0k0j:a08b925c-d629-4fa4-ba5f-c7785e0dab53:byol:IBM Maximo Application Suite (BYOL)
# Production Listing: BYOL
vrxqov1ml7fjwasbi7pkw4m3:0ee8c8fc-c4c4-4b23-880d-af752566675b:byol:IBM Maximo Application Suite (BYOL)
# Production Listing: PAID Existing cluster Only - No New cluster creation option in cft
548es26yxydoawlwpghgoxcxn:567142b7-480a-4728-bb06-ca34e1e627bb:privatepublic:IBM Maximo Application Suite (Paid, without Red Hat OpenShift license)
# Production Listing: PAID Always create new cluster(IPI + UPI) - No existing cluster option in cft
9xeenf7r5v2mr19vh8yfym5wi:a7b132f9-a141-4c1e-8251-5db25155e562:privatepublic:IBM Maximo Application Suite (Paid, with Red Hat OpenShift license)
# Dev Listing: PAID Always create new cluster(IPI + UPI) - No existing cluster option in cft
1905n4jwbijcylk3xm02poizl:151db516-966f-4472-97b6-09a03a2df721:privatepublic:IBM MAS (Paid, with Red Hat OpenShift license) - Sample
# Dev Listing: IBM MAS (Paid, without Red Hat OpenShift license) - Sample
2psnsv8s7b56hib72n8eez8ai:2de2cde4-108c-47bc-a705-7944b7931aba:privatepublic:IBM MAS (Paid, without Red Hat OpenShift license) - Sample