#prod-code:prod-id:prod-type:product-name
vrxqov1ml7fjwasbi7pkw4m3:0ee8c8fc-c4c4-4b23-880d-af752566675b:byol:IBM Maximo Application Suite (BYOL)
sdfsdfwewer7rerfsdfs:8hg65dfd-g6j5-4b21-954d-rr43dw23gh34:privatepublic
1905n4jwbijcylk3xm02poizl:151db516-966f-4472-97b6-09a03a2df721:privatepublic:IBM Maximo Application Suite - AppPoints Contract Pricing
