apiVersion: apps/v1
kind: Deployment
metadata:
  name: nfs-client-provisioner
  labels:
    app: nfs-client-provisioner
  # replace with namespace where provisioner is deployed
  namespace: "{{ nfs_storage_provisioner_namespace }}"
spec:
  replicas: "{{ nfs_client_provisioner_replicas }}"
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: nfs-client-provisioner
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
    spec:
      serviceAccountName: nfs-client-provisioner
      containers:
        - name: nfs-client-provisioner
          image: k8s.gcr.io/sig-storage/nfs-subdir-external-provisioner:v4.0.2
          volumeMounts:
            - name: nfs-client-root
              mountPath: /persistentvolumes
          env:
            - name: PROVISIONER_NAME
              value: "{{ nfs_storage_provisioner_name }}"
            - name: NFS_SERVER
              value: "{{ nfs_server }}"
            - name: NFS_PATH
              value: "{{ file_share_name }}"
      volumes:
        - name: nfs-client-root
          nfs:
            server: "{{ nfs_server }}"
            path: "{{ file_share_name }}"
