---
apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: {{clusterid}}
  name: {{clusterid}}-workerocs-{{region}}-1
  namespace: openshift-machine-api
spec:
  replicas: 1
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{clusterid}}
      machine.openshift.io/cluster-api-machineset: {{clusterid}}-workerocs-{{region}}-1
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{clusterid}}
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: {{clusterid}}-workerocs-{{region}}-1
    spec:
      taints:
      - effect: NoSchedule
        key: node.ocs.openshift.io/storage
        value: "true"
      metadata:
        labels:
          cluster.ocs.openshift.io/openshift-storage: ""
          node-role.kubernetes.io/infra: ""
          node-role.kubernetes.io/worker: ""
          role: storage-node
      providerSpec:
        value:
          apiVersion: azureproviderconfig.openshift.io/v1beta1
          credentialsSecret:
            name: azure-cloud-credentials
            namespace: openshift-machine-api
          image:
            offer: ""
            publisher: ""
            resourceID: /resourceGroups/{{clusterid}}-rg/providers/Microsoft.Compute/images/{{clusterid}}
            sku: ""
            version: ""
          kind: AzureMachineProviderSpec
          location: {{region}}
          managedIdentity: {{clusterid}}-identity
          metadata:
            creationTimestamp: null
          networkResourceGroup: {{vnet_rg}}
          osDisk:
            diskSizeGB: 512
            managedDisk:
              storageAccountType: Premium_LRS
            osType: Linux
          publicIP: false
          publicLoadBalancer: {{clusterid}}
          resourceGroup: {{clusterid}}-rg
          subnet: {{worker_subnet}}
          userDataSecret:
            name: worker-user-data
          vmSize: Standard_D16s_v3
          vnet: {{vnet_name}}
          zone: "1"
---
apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: {{clusterid}}
  name: {{clusterid}}-workerocs-{{region}}-2
  namespace: openshift-machine-api
spec:
  replicas: 1
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{clusterid}}
      machine.openshift.io/cluster-api-machineset: {{clusterid}}-workerocs-{{region}}-2
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{clusterid}}
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: {{clusterid}}-workerocs-{{region}}-2
    spec:
      taints:
      - effect: NoSchedule
        key: node.ocs.openshift.io/storage
        value: "true"
      metadata:
        labels:
          cluster.ocs.openshift.io/openshift-storage: ""
          node-role.kubernetes.io/infra: ""
          node-role.kubernetes.io/worker: ""
          role: storage-node
      providerSpec:
        value:
          apiVersion: azureproviderconfig.openshift.io/v1beta1
          credentialsSecret:
            name: azure-cloud-credentials
            namespace: openshift-machine-api
          image:
            offer: ""
            publisher: ""
            resourceID: /resourceGroups/{{clusterid}}-rg/providers/Microsoft.Compute/images/{{clusterid}}
            sku: ""
            version: ""
          kind: AzureMachineProviderSpec
          location: {{region}}
          managedIdentity: {{clusterid}}-identity
          metadata:
            creationTimestamp: null
          networkResourceGroup: {{vnet_rg}}
          osDisk:
            diskSizeGB: 512
            managedDisk:
              storageAccountType: Premium_LRS
            osType: Linux
          publicIP: false
          publicLoadBalancer: {{clusterid}}
          resourceGroup: {{clusterid}}-rg
          subnet: {{worker_subnet}}
          userDataSecret:
            name: worker-user-data
          vmSize: Standard_D16s_v3
          vnet: {{vnet_name}}
          zone: "2"
---
apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: {{clusterid}}
  name: {{clusterid}}-workerocs-{{region}}-3
  namespace: openshift-machine-api
spec:
  replicas: 1
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{clusterid}}
      machine.openshift.io/cluster-api-machineset: {{clusterid}}-workerocs-{{region}}-3
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{clusterid}}
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: {{clusterid}}-workerocs-{{region}}-3
    spec:
      taints:
      - effect: NoSchedule
        key: node.ocs.openshift.io/storage
        value: "true"
      metadata:
        labels:
          cluster.ocs.openshift.io/openshift-storage: ""
          node-role.kubernetes.io/infra: ""
          node-role.kubernetes.io/worker: ""
          role: storage-node
      providerSpec:
        value:
          apiVersion: azureproviderconfig.openshift.io/v1beta1
          credentialsSecret:
            name: azure-cloud-credentials
            namespace: openshift-machine-api
          image:
            offer: ""
            publisher: ""
            resourceID: /resourceGroups/{{clusterid}}-rg/providers/Microsoft.Compute/images/{{clusterid}}
            sku: ""
            version: ""
          kind: AzureMachineProviderSpec
          location: {{region}}
          managedIdentity: {{clusterid}}-identity
          metadata:
            creationTimestamp: null
          networkResourceGroup: {{vnet_rg}}
          osDisk:
            diskSizeGB: 512
            managedDisk:
              storageAccountType: Premium_LRS
            osType: Linux
          publicIP: false
          publicLoadBalancer: {{clusterid}}
          resourceGroup: {{clusterid}}-rg
          subnet: {{worker_subnet}}
          userDataSecret:
            name: worker-user-data
          vmSize: Standard_D16s_v3
          vnet: {{vnet_name}}
          zone: "3"